.banner {
  color: white;
  object-fit: contain;
  height: 448px;
  display: flex;
  flex-direction: column;
}

.banner__contents {
  margin-left: 30px;
  padding-top: 140px;
  height: 190px;
}

.banner__title {
  font-size: 3rem;
  font-weight: 800;
  padding-bottom: 0.3rem;
}

.banner__description {
  max-width: 45rem;
  padding-top: 1.5rem;
  font-size: 1.2rem;
  height: 80px;
}

.banner__button {
  cursor: pointer;
  color: #fff;
  outline: none;
  border: none;
  font-weight: 700;
  border-radius: 0.2vw;
  padding: 0.5rem 2rem 0.5rem 2rem;
  margin-right: 1rem;
  background-color: rgba(51, 51, 51, 0.5);
}

.banner__button:hover {
  color: #000;
  background-color: #e6e6e6;
  transition: all 0.2s;
}

.banner--fadeButton {
  height: 7.4rem;
  background: linear-gradient(
    180deg,
    transparent,
    rgba(36, 36, 36, 0.6),
    #111
  );
  margin-top: 10rem;
}

@media (min-width: 600px) {
  .banner__description {
    width: auto;
  }
}
