h2 {
  text-align: left;
  padding-left: 1rem;
}
.row__posters {
  display: flex;
  gap: 2rem;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px;
}

.row__posters::-webkit-scrollbar {
    display: none;
}

.row__poster {
  width: 100%;
  max-height: 100px;
  object-fit: contain;
  transition: 450ms;
}

.row__poster:hover {
  transform: scale(1.12);
  cursor: pointer;
  opacity: 1;
}

.row__posterLarge {
     max-height: 250px;
}